@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*{
    margin: 0;
    padding:0;
}

.home-shell{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    background-color: rgb(21, 19, 19);
}

.home-content-shell{
    margin:auto;
    margin-top: 5%;
    text-align: center;
    color:white;
    width:90%;
    
}

.home-content-shell h1{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 3rem;
    font-family: "Rubik", sans-serif;
    width:50%;
}


.bonsai-slogans{
    display: flex;
    width:90%;
    height:auto;
    min-height:150px;
    margin: auto;
    justify-content: center;
}

.bonsai-slogans p{
    font-size: 1.7rem;
}


/* web view: remove auth nav options from bottom, push to top */
@media only screen and (min-width:800px){
    .nav-options-mobile button{
        display: none;
    }
}

/* small computer view: remove auth nav options from top, push to bottom */
@media only screen and (max-width:800px) and (min-width:500px){
    .home-content-shell h1{
        font-size: 2.5rem;
    }
    .bonsai-slogans p{
        font-size: 1.3rem;
    }
}

/* mobile view: smaller version of small computer view */
@media only screen and (max-width:500px){
    .home-content-shell h1{
        font-size: 2rem;
    }
    .bonsai-slogans p{
        font-size: 1rem;
    }
}