.blossom-shell{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}

.blossom-area{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.blossom-area > *{
    width:50%;
    max-width:600px;
    height:570px;
    border:2px solid black;
}